.skillset > h1 {
  color: #a0a0a0;
  padding-top: 5px;
  padding-left: 2px;
  font-size: 50px;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.skills > li {
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* .skills>li :hover
{
  color: aliceblue;
}  */

.portfolio > h1 {
  color: #737373;
  padding-top: 15px;
  padding-left: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;

  padding: 10px;
}
.grid-item {
  margin: 25px;
  background-color: rgba(63, 63, 63, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  height: 300px;
  width: 200px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.projects:hover {
  animation: pulse;
  animation-duration: 0.5s;
  background-color: #513f83;
}

.projects {
  margin: 5px;
  background-color: rgba(63, 63, 63, 0.8);
  border: none;
  border-radius: 15px;
  padding: 20px;
}

.over {
  overflow-y: scroll;
  position: relative;
  height: 700px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #513f83;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7158b6;
}

.blah :hover {
  color: aliceblue;
}

.about-me-para {
  color: #ffffff;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
}

.about-me-head {
  color: #ffffff;
  padding-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  line-height: 44px;
}

.skill-list-div {
  color: #9c9c9c;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.skill-list-div > ul {
  list-style: none;
}

.skill-list-div > ul > li {
  padding-bottom: 20px;
  padding-top: 20px;
}
.skill-list-div > ul > li:hover {
  animation: pulse;
  animation-duration: 1s;
  cursor: pointer;
  color: #ffffff;
}

.skills-head {
  color: #bcbcbc;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  padding-top: 10px;
}

.skill-div {
  position: absolute;
  width: 100vw;
  height: 500vh;
  left: 0px;
  top: 10vh;
  transition: top 1s;
  background: #292929;
  border-radius: 70px 70px 0px 0px;
}
.skill-div:hover {
  top: 0;
  cursor: pointer;
}

.animate-about:hover {
  animation: bounce;
  animation-duration: 1s;
  cursor: pointer;
}

.cards-projects1 {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 300px;
  width: auto;
  background: rgb(53, 53, 53);
  border-radius: 10px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cards-projects1 .card-foot {
  margin-bottom: 15px;
  display: none;
}

.project-button {
  padding: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  border-radius: 4px;
  background: #6d57ac;
  margin-bottom: 10px;
  margin-right: 5px;
}

.card-foot > a {
  color: #bdbdbd;
}

.card-foot > a:hover {
  animation: bounce;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.cards-projects1:hover {
  animation: pulse;
  background: #251c3dd7;
  -webkit-box-shadow: 0px 10px 16px -4px rgba(66, 66, 66, 0.77);
  -moz-box-shadow: 0px 10px 16px -4px rgba(66, 66, 66, 0.77);
  box-shadow: 0px 10px 16px -4px rgba(66, 66, 66, 0.77);
  transform: translateY(-10px);
  transition: 0.5s;
}

.card-h {
  position: absolute;
  align-content: center;
}

.cards-projects1:hover .card-foot {
  position: absolute;
  display: inline-block;
  transition: 0.5s;
}

.cards-projects1:hover .card-h > img {
  opacity: 0.1;
}

.hover-color {
  color: #d3d3d3;

  text-align: center;
}

.card-d {
  padding-top: 50px;
}

.para-hover {
  color: #c2c2c2;
  text-align: justify;
  font-family: "";
}

.contact-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Find-me {
  position: absolute;
  width: 893px;
  height: 88px;
  left: 300px;
  top: 150px;
  font-size: 3vh;
  line-height: 88px;

  color: #ffffff;
}

.contact-pl
{
  color: #ffffff;
  list-style: none;
  
}

.contact-pl>li
{
  display: inline-block;
  margin-top: 80px;
  font-size: 24px;
  padding-right: 90px;
}

.contact-pl>li>a
{
  margin-right: 10px;
  color: #c2c2c2;
  text-decoration: none;

}

.contact-pl>li>a:hover
{
  color: #ffffff;
}

.contact-pl>li>a>img
{
  height: 40px;
  margin-right: 30px;
}